body {
    font-size: 16px;
    padding-top: 70px;
}

nav {
   font-family: sans-serif;
    font-weight: bold; 
}

.navbar-default  {
    background-color: #383737;
}

.navbar-brand {
    background-color: #383737;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: black;
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
  background-color: #4CAF50;
}

.navbar-default .navbar-brand:hover {
  background-color: black;
  color: white;
}


.container {

    
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}





a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    
}



.glyphicon-picture {
  content: "\e060";
}

.fa-picture-o {
    font-size: ;
    margin-right: 10px;
}
