body {
    font-size: 16px;
    padding-top: 70px;
}

nav {
   font-family: sans-serif;
    font-weight: bold; 
}

.navbar-default  {
    background-color: #383737;
}

.navbar-brand {
    background-color: #383737;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: black;
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
  background-color: #b5343d;
}

.navbar-default .navbar-brand:hover {
  background-color: black;
  color: white;
}


.container {
    width: 100%;
    
}

#containerPhoto {
    width: 90%;
    padding-top: 40px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}


h1 {
   

}



h3 {
    text-align: center;
}

.clear {
    clear: both;
}

#world {
    width: 90%;
    margin: 0 5% 5% 5%;
    height: 100%;
    margin: 30px auto;
}

footer {
    width: 89%;
    background-color: rgb(250, 250, 182);
    float: left;
    text-align: right;
    padding: 10px;
    margin-left: 5%;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}



.fa-picture-o {
    font-size: ;
    margin-right: 10px;
}


