body {
    font-size: 16px;
    padding-top: 70px;
}

nav {
   font-family: sans-serif;
    font-weight: bold; 
}

.navbar-default  {
    background-color: #383737;
}

.navbar-brand {
    background-color: #383737;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: black;
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
  background-color: #b5343d;
}

.navbar-default .navbar-brand:hover {
  background-color: black;
  color: white;
}


.container {
    width: 100%;
    
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}


h1 {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: -50px;
}

#topics {
    padding-top: 60px;
}

.topicPhoto {
    float: left;
    width: 40%;
    margin: 0px 5%;
}

img {
    width: 100%;
}

h3 {
    text-align: center;
}

.clear {
    clear: both;
}

#world {
    width: 90%;
    margin: 0 5% 5% 5%;
}

footer {
    width: 89%;
    background-color: rgb(250, 250, 182);
    float: left;
    text-align: right;
    padding: 10px;
    margin-left: 5%;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    
}



