html {
    height: 100%;
}

body {
    font-size: 16px;
    background-image: url(../image/fishery.jpg);
    background-size: cover;
}

nav {
    font-family: sans-serif;
    font-weight: bold;
}



.navbar-inverse .navbar-brand {
    color: white;  
}

.navbar-inverse .navbar-brand:hover {
    background-color: black;
    
} 

.navbar-inverse .navbar-nav > li > a  {
    color: white;
}

.navbar-inverse {
    background-color: #383737;
    border: none;
}

.navbar-inverse .navbar-nav > li:hover {
    background-color: black;
}

#active {
    background-color: #b5343d;
}

#fb {
    padding-right: 20px;
    font-size: 18px;
}


#clock {
    color: rgb(209, 64, 74);
    font-weight: 600;
    margin-top: 15px;
}

.projectLists {
    padding-top: 15vh;
}

