html {
        height: 100%;
}

body {
    
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;

}

body {
    font-size: 16px;
    background-image: url(../../../image/fishery.jpg); 
    background-size: cover;
    
}


nav {
   font-family: sans-serif;
    font-weight: bold; 
}

.navbar-default  {
    background-color: #383737;
}

.navbar-brand {
    background-color: #383737;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: black;
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
  background-color: #b5343d;
}

.navbar-default .navbar-brand:hover {
  background-color: black;
  color: white;
}


.container {
    width: 100%;    
}



.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}



#content {
    text-align: center;
    padding-top: 10%;
    margin: auto;
    font-size: 40px;
    width: 80%;
    color: #b5343d;
    letter-spacing: 2px;
    min-width: 240px;
}

#happyBday {
    margin: auto;
}

form {
    margin: auto;
    padding-top: 5%;
    
}

input {
    background: #C6C7BF;
    font-size: 26px;
    text-align: center;
}





