html {
    height: 100%;
}

body {
    font-size: 16px;
    background-image: url(../../../image/fishery.jpg);
    background-size: cover;
}

nav {
    font-family: sans-serif;
    font-weight: bold;
}



.navbar-inverse .navbar-brand {
    color: white;  
}

.navbar-inverse .navbar-brand:hover {
    background-color: black;
    
} 

.navbar-inverse .navbar-nav > li > a  {
    color: white;
}

.navbar-inverse {
    background-color: #383737;
    border: none;
}

.navbar-inverse .navbar-nav > li:hover {
    background-color: black;
}

#active {
    background-color: #b5343d;
}

#fb {
    padding-right: 20px;
    font-size: 18px;
}




#content {
    padding-top: 20vh;
    text-align: center;
    color: #b5343d;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.4),
                 0px 1px 1px rgba(0,0,0,0.1),
                 0px 1px 1px rgba(0,0,0,0.1);
}


#bdayBanner, #happyBday {
    margin: auto;
    font-size: 40px;
}

form {
    margin: auto;
    padding-top: 5%;
    
}

input {
    background: #C6C7BF;
    font-size: 20px;
    text-align: center;
}





